<div class="stripp">
  <footer class="footer">
    <small>
      Copyrights &copy; <a href="#">Delta Labs</a>
    </small>
    <span>by <a href="https://www.facebook.com/Homing.Beacons">Abdul Rehman Khan Niazi</a></span>
  </footer>
</div>